.user-card{
    background-color: rgb(176, 183, 197);
    width: 55%;
    height: 170px;
    border-radius: 12px;
    border: none;
    box-shadow: 10px 10px 10px gray;
    position: relative;
    top: -135px;
    left: 30px;
}

.user-card img {
    position: relative;
    top: 0px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: none;
    box-shadow: 5px 5px 10px gray;
}

.user-details{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: rgb(157, 171, 180);
    border-radius: 12px;
    position: relative;
    width: 70%;
    text-align: center;
    padding-right: 5px;
    height: 80px;
}

.view-user{
    font-size: 25px;
    float: right;
    position: relative;
    width: 200px;
    right: 160px;
    top: -50px;
    height: 60px;
    box-shadow: 5px 5px 10px gray;
    background-color: rgb(91, 152, 202);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

