.user-profile-page{
    background-color: rgb(157, 171, 180);
    width: 50%;
    margin: auto;
    border-radius: 2px;
    margin-top: 8%;
    margin-bottom: 3%;
    box-shadow: 7px 12px 20px;
    padding-bottom: 1%;
}

.user-picture{
    position: relative;
    left: 60%;
    margin: 5%;
    width: 17%;
    height: 150px;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 10px 10px 20px;
}

#profile-picture{
    padding: 0px;
    height: 250px;
    width: 220px;
    box-shadow: 3px 7px 15px;
}

#change-pic{
    background-color: transparent;
    float: right;
    position: relative;
    margin-top: 42%;
    padding: 5px;
    right: 8%;
    border-radius: 3px;
    border: none;
    font-size: 150%;
    cursor: pointer;
    box-shadow: 3px 7px 15px;
    transition: 0.5s;
}

#change-pic:hover{
    background-color: rgb(239, 238, 247);
}

.detail{
    box-shadow: 3px 7px 10px;
    width: fit-content;
    text-align: right;
    border-radius: 5px;
    padding: 2%;
    position: relative;
}

.details-wrapper{
    margin-top: -42%;
    margin-bottom: 48%;
    margin-left: 2%;
}

.detail span {
    font-size: 80%;
}
.user-item{
    background-color: rgb(209, 209, 209);
    width: 95%;
    margin: 10px;
    box-shadow: 8px 8px 15px;
    border-radius: 10px;
}

.user-item img{
    margin: 0;
    width: 100%;
    border-radius: 10px;
    height: 200px;
    padding: 0px;
    left: 0px;
    top: auto;
}

.user-items{
    height: 350px;
    background: rgb(184, 181, 181);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y: scroll;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    width: 96%;
    margin-top: -23%;
    margin-left: 2%;
}

#item-title{
    position: relative;
    text-align: center;
    top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 8px 10px rgb(49, 49, 58);
    border-top: 1px solid black;
}

.date-price{
    text-align: right;
    position: relative;
    top: -20px;
    margin-right: 20px;
    box-shadow: 3px 3px 10px;
    width: fit-content;
}