#item-wrapper {
    width: 50%;
    height: 730px;
    position: fixed;
    top: 130px;
    left: 500px;
    background-color: rgb(173, 177, 190);
    border-radius: 12px;
    font-family: cursive;
}

#pic {
    width: 420px;
    height: 420px;
    opacity: 0.8;
    border-radius: 12px;
    position: relative;
    right: -30px;
    top: -217px;
    box-shadow: 8px 8px 10px;
}

#desc {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    width: 44%;
    height: 150px;
    font-size: 15px;
    float: right;
    position: relative;
    top: 85px;
    right: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
    font-size: 20px;
}

#title {
    float: right;
    position: relative;
    right: 15px;
    bottom: 20px;
    font-size: 50px;
    width: 45%;
    text-align: center;
    background-color: rgb(157, 171, 180);
    border-radius: 15px;
    box-shadow: 10px 10px 10px gray;
}

#price {
    position: relative;
    left: 745px;
    top: 80px;
    font-size: 30px;
    width: fit-content;
    background-color: rgb(157, 171, 180);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 10px 10px 10px gray;
}

#price span {
    font-size: 25px;
}

#number {
    position: relative;
    right: -630px;
    text-align: right;
    top: 80px;
    font-size: 30px;
    width: fit-content;
    padding: 10px;
    background-color: rgb(157, 171, 180);
    border-radius: 12px;
    box-shadow: 10px 10px 10px gray;
}

#number span {
    font-size: 25px;
}

.buy-btn {
    position: relative;
    top: -240px;
    float: right;
    width: 220px;
    height: 92px;
    right: -600px;
    border-radius: 12px;
    border: none;
    font-size: 30px;
    background-color: dimgray;
    cursor: pointer;
    box-shadow: 10px 10px 10px gray;

}

#date-posted {
    position: relative;
    left: 575px;
    top: 80px;
    font-size: 30px;
    width: fit-content;
    padding: 10px;
    background-color: rgb(157, 171, 180);
    border-radius: 12px;
    box-shadow: 10px 10px 10px gray;

}

#date-posted span {
    font-size: 25px;
}

.buy-btn:hover {
    box-shadow: 3px 7px 10px black;
}

a {
    color: black;
}