#list-wrapper {
    width: 50%;
    height: 600px;
    position: relative;
    top: 250px;
    left: 500px;
    background-color: rgb(157, 171, 216);
    border-radius: 12px;
    border: wheat 3px solid;
    box-shadow: 10px 15px 15px gray;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes heading {
    0%{
        top: -200px;
    }   
    
    100%{
        top: 150px;
    }
}

.single-item {
    width: 95.7%;
    height: 100px;
    background-color: rgb(157, 171, 180);
    margin-bottom: 17px;
    margin-top: 17px;
    border: wheat solid 2px;
    border-radius: 15px;
    position: relative;
    left: 10px;
    box-shadow: 8px 8px 10px gray;
}

.skeleton {
    animation: loading 1s linear infinite alternate;
}

@keyframes loading {
    0%{background-color: hsl(199, 20%, 63%);}
    100%{background-color: hsl(199, 20%, 85%);}
}

.vertical-list {
    width: 95%;
    height: 370px;
    overflow: auto;
    border: 3px wheat solid;
    border-radius: 12px;
    position: relative;
    left: 20px;
    top: 50px;
    opacity: .9;
    box-shadow: 10px 15px 15px gray;

}

.pics {
    width: 98px;
    height: 98px;
    position: relative;
    top: 0px;
    left: -1px;
    border-radius: 15px;
    border: wheat solid 1px;
    object-fit: cover;
    flex-shrink: 0;
}

.titles {
    width: 150px;
    height: 98px;
    background-color: rgb(179, 184, 187);
    border-radius: 15px;
    border: wheat solid 1px;
    position: relative;
    top: -119px;
    left: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.numbers {
    width: 150px;
    height: 98px;
    background-color: rgb(179, 184, 187);
    border-radius: 15px;
    border: wheat solid 1px;
    position: relative;
    top: -235px;
    left: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.item-details {
    width: 150px;
    height: 100px;
    background-color: rgb(143, 212, 170);
    border-radius: 15px;
    border: wheat solid 2px;
    position: relative;
    top: -353px;
    left: 705px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
}

.item-details:hover {
    background-color: transparent;
}

.crud-btns {
    position: relative;
    top: 10px;
    right: -370px;
    height: 80px;
    width: 200px;
    margin: 20px;
    font-size: 30px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

#add-item {
    background-color: rgb(147, 228, 54);
}

#add-item:hover {
    background-color: rgb(147, 188, 54);
}

#search-input{
    position: relative;
    left: 100px;
    width: 50%;
    height: 45px;
    font-size: 30px;
    margin-top: 20px;
    border: none;
    padding-left: 70px;
    border: none;
    box-shadow: 4px 8px 10px black;
    background-color: rgb(188, 193, 209);
}

.search-bar img{
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 35px;
    height: 28px;
    position: relative;
    top: 13px;
    left: 157px;
    z-index: 2;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 50px;
    background-color: rgb(153, 161, 184);
    padding: 10px;
}

.search-bar img:hover{
    background-color: gray;
}

input:focus {
    outline: none;
}
