#list-wrapper {
    width: 81.5%;
    height: 580px;
    position: relative;
    float: right;
    background-color: rgb(179, 187, 212);
    border-radius: 1%;
    border: wheat 3px solid;
    box-shadow: 7px 10px 25px black;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0.95;
    padding-bottom: 2%;
}

.add-item-for-sale{
    height: 12%;
    width: 10%;
    font-size: 150%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 89%;
    background-color: rgb(197, 207, 230);
    border-radius: 5%;
    box-shadow: 4px 8px 10px black;
    transition: 1s;
    cursor: pointer;
    border: none;
}

.items-list {
    background-color: rgb(129, 150, 221);
    height: 75%;
    position: relative;
    overflow-y: scroll;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item{
    background-color: rgb(188, 195, 204);
    box-shadow: 7px 7px 15px;
    transition: 1s;
    text-align: center;
    height: 88%;
    margin: 2%;
}

.item:hover{
    background-color: rgb(234, 235, 236);
}

.item-img{
    height: 320px;
    position: relative;
    margin: 5%;
    width: 80%;
}

.item-title{
    font-size: 250%;
    position: relative;
    top: -5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.item-date-price{
    position: relative;
    top: -10%;
    text-align: left;
    width: 90%;
    left: 2%;
    font-size: 150%;
}

.item-date-price span {
    font-size: 80%;
}

@keyframes heading {
    0%{
        top: -200px;
    }   
    
    100%{
        top: 100px;
    }
}

.skeleton {
    animation: loading 1s linear infinite alternate;
}

@keyframes loading {
    0%{background-color: hsl(199, 20%, 63%);}
    100%{background-color: hsl(199, 20%, 85%);}
} 

.sidebar-nav{
    height: 100%;
    width: 18%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(179, 187, 212);
    box-shadow: 7px 8px 15px black;
    text-align: center;
    animation: load-sidebar;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#search-button{
    font-size: 200%;
    width: 40%;
    background-color: rgb(197, 207, 230);
    border-radius: 5%;
    box-shadow: 4px 8px 10px black;
    transition: 1s;
    cursor: pointer;
    border: none;
    position: relative;
    top: -300px;
}

#search-button:hover{
    background-color: rgb(196, 203, 226);
    width: 45%;
}

@keyframes load-sidebar {
    0%{
        left: -200px;
    }   
    
    100%{
        left: 0px;
    }
}

.sidebar-nav li {
    margin: 10px;
}

#search-input{
    position: relative;
    width: 80%;
    font-size: 160%;
    top: -115px;
    border: none;
    border-left: 1px solid black;
    padding-left: 15%;
    border-radius: 5px;
    box-shadow: 4px 8px 10px black;
    background-color: rgb(207, 215, 231);
    transition: 1s;
}

#search-input:focus{
    background-color: rgb(247, 247, 247);
}

.search-bar{
    height: min-content;
}

.search-bar img{
    width: 11%;
    position: relative;
    top: -70px;
    float: left;
    left: -45px;
    z-index: 2;
    margin-top: 50px;
    margin-left: 50px;
    padding: 10px;
    transition: 0.5s;
}

input:focus{
    outline: none;
}

.filters{
    text-align: center;
}

.sidebar-nav h2 {
    margin-top: 120px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.category-option{
    background-color: transparent;
    border: none;
    width: 95%;
    height: 35px;
    font-size: 120%;
    box-shadow: 4px 8px 10px black;
    border-radius: 5px;
    background-color: rgb(207, 215, 231);
    transition: 1s;
    position: relative;
    top: -15px;
}

.category-option:focus{
    background-color: rgb(247, 247, 247);
}

.category-wrapper{
    position: relative;
    top: -200px;
}

.price-range input{
    border: none;
    width: 35%;
    margin: 2%;
    font-size: 150%;
    background-color: rgb(207, 215, 231);
    box-shadow: 4px 8px 10px black;
    border-radius: 5px;
    transition: 1s;
    position: relative;
    top: -25px;
}

.price-range input:focus{
    background-color: rgb(247, 247, 247);
}

.price-range{
    position: relative;
    top: -300px;
}