#form-wrapper {
    height: 70%;
    width: 50%;
    position: fixed;
    top: 150px;
    left: 500px;
    background-color: rgb(157, 171, 216);
    opacity: 0.8;
    border-radius: 12px;
}

#add-form {
    width: 60%;
    position: relative;
    left: 190px;
    height: 60%;
}

#add-form input[text] {
    margin-bottom: 10px;
    position: relative;
    left: 385px;
}

#add-form label {
    margin-bottom: 10px;
    position: relative;
    left: 385px;
}

#desc-item {
    position: relative;
    left: -230px;
    bottom: 360px;
    text-align: center;
    width: 120%;
    font-size: 30px;
}

#desc-item textarea{
    resize: none;
    width: 80%;
    height: 250px;
    border: none;
    border-top: 3px wheat solid;
    border-radius: 10px;
    font-size: 25px;
    background-color: transparent;
    padding: 10px;
    box-shadow: 7px 10px 20px black;
}

#desc-item h2 {
    position: relative;
    top: 20px;
}

.text-labels {
    font-size: 25px;
    top: -220px;
    left: 200px;
}

.loading-animation{
    position: relative;
    bottom: 700px;
    left: 300px;
}

.text-fields{
    background-color: transparent;
    position: relative;
    left: 485px;
    top: -270px;
    font-size: 25px;
    height: 55px;
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    border: none;
    border-top: wheat 3px solid;
    box-shadow: 3px 5px 15px black;
    margin-top: 5px;
}

#default-photo {
    width: 300px;
    height: 300px;
    position: relative;
    top: 0px;
    left: -190px;
    border-radius: 10px;
    box-shadow: 7px 10px 20px black;
}

#upload-btn {
    border-radius: 12px;
    width: 160px;
    height: 75px;
    background-color: gray;
    font-size: 30px;
    position: relative;
    left: -420px;
    top: 85px;
    cursor: pointer;
    border: none;
    border-top: wheat 3px solid;
    box-shadow: 3px 5px 15px black;
}

#upload-btn:hover {
    background-color: dimgray;
}

#add-item-btn {
    position: relative;
    bottom: 20px;
    right: -470px;
    width: 250px;
    height: 80px;
    font-size: 40px;
    background-color: gray;
    border: none;
    border-top: wheat 3px solid;
    box-shadow: 3px 5px 15px black;
    border-radius: 10px;
    cursor: pointer;
}

#delete-item-btn {
    position: relative;
    bottom: 120px;
    right: -215px;
    width: 250px;
    height: 80px;
    font-size: 40px;
    background-color: rgb(211, 40, 40);
    border: none;
    border-top: wheat 3px solid;
    box-shadow: 3px 5px 15px black;
    border-radius: 10px;
    cursor: pointer;
}

#add-item-btn:hover {
    background-color: rgb(157, 171, 190);
}

#delete-item-btn:hover{
    background-color: rgb(212, 14, 14);
}