.nav {
    margin-top: -8px;
    background-color: dimgray;
    position: fixed;
    left: -8px;
    top: 0px;
    height: 110px;
    width: 100%;
    padding-right: 16px;
    border-bottom: solid wheat 3px;
    z-index: 100;
}

div .btn {
    position: relative;
    left: 1240px;
    width: 9%;
    height: 110px;
    background-color: transparent;
    border: none;
    font-size: 35px;
}

a:visited {
    color: black;
}

a {
    text-decoration: none;
}

button:hover {
    background-color: gray;
}

.shopping-cart {
    position: relative;
    left: 17px;
    top: 0px;
    width: 9%;
    height: 110px;
    background-color: transparent; 
    border: none;
    font-size: 35px;
}


