#registration-wrapper{
    width: 35%;
    position: relative;
    margin-top: 9%;
    left: 33%;
    background-color: rgb(174, 183, 211);
    border-radius: 5px;
    opacity: 0.95;
    text-align: center;
    padding-bottom: 2%;
    box-shadow: 5px 8px 15px;
    animation: register-anim;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes register-anim {
    0%{
        left: 15%;
    }
    50%{
        left: 45%;
    }
    100%{
        left: 33%;
    }
}

#registration-wrapper input {
    width: 50%;
    font-size: 150%;
    background-color: rgb(176, 189, 206);
    box-shadow: 3px 3px 8px;
    border-radius: 3px;
    margin-bottom: 1%;
    border: none;
    transition: 1s;
}

label {
    margin-top: 5%;
    font-size: 110%;
}

#registration-wrapper input:focus{
    background-color: aliceblue;
    width: 55%;
}

#register-button{
    width: 35%;
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px;
    border: none;
    font-size: 200%;
    box-shadow: 5px 5px 10px;
    margin-top: 7%;
    transition: 1s;
}

#register-button:hover{
    background-color: rgb(150, 177, 212);
    width: 40%;
}

.errors {
    color: red;
    position: relative;
    top: 15px;
    left: 0px;
}

.submit-loader{
    position: relative;
    top: -150px;
}