.footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    border: none;
    border-top: solid wheat 3px;
    display: flex;
    justify-content: left;
    background-color: rgb(83, 104, 121);
}

.icons {
    height: 50%;
    width: 1%;
    position: relative;
    top: 10%;
}


