#login-wrapper{
    width: 35%;
    height: 430px;
    position: relative;
    top: 230px;
    left: 650px;
    background-color: rgb(157, 171, 216);
    border-radius: 12px;
    border: wheat 3px solid;
    opacity: 0.95;
}

#login-form input{
    background-color: rgb(180, 189, 218);;
    width: 320px;
    height: 35px;
    border-radius: 12px;
    border: wheat solid 2px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#login-form label{
    font-size: 25px;
}

#login-form {
    background-color: rgb(132, 152, 221);
    opacity: 0.95;
    text-align: center;
    position: relative;
    height: 300px;
    top: 45px;
    width: 60%;
    left: 115px;
    border-radius: 12px;
    padding: 20px;
}

#login-btn{
    font-size: 25px;
    background-color: transparent;
    border-radius: 12px;
    border: wheat solid 1px;
    width: 170px;
    height: 50px;
    cursor: pointer;
    position: relative;
    top: 20px;
}

#login-btn:hover{
    background-color: rgb(157, 171, 216);;
}

#login-error{
    position: relative;
    top: 50px;
    left: 0px;
    font-size: 15px;
}