#login-wrapper{
    width: 35%;
    height: 30%;
    position: relative;
    top: 20%;
    left: 33%;
    background-color: rgb(178, 182, 196);
    border-radius: 12px;
    opacity: 0.95;
    box-shadow: 10px 12px 15px black;
    animation: anim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    padding: 2%;
}

@keyframes anim {
    0%{
        top: -50px;
    }

    50%{
        top: 350px;
    }

    100%{
        top: 230px;
    }
}

#login-form input{
    background-color: rgb(180, 189, 218);;
    width: 60%;
    border-radius: 5px;
    font-size: 150%;
    border: none;
    margin-bottom: 5%;
    margin-top: 7%;
    box-shadow: 5px 5px 15px black;
    transition: 0.5s;
}

#login-form input:focus{
    background-color: aliceblue;
    width: 65%;
}

#login-form label{
    font-size: 130%;
}

#login-form {
    background-color: rgb(153, 166, 211);
    opacity: 0.95;
    text-align: center;
    position: relative;
    width: 60%;
    left: 16%;
    border-radius: 5px;
    padding: 3%;
    padding-bottom: 6%;
    box-shadow: 1px 8px 15px;
}

#login-btn{
    font-size: 150%;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
    box-shadow: 3px 5px 15px black;
    margin-top: 5%;
    transition: 1s;
}

#login-btn:hover{
    background-color: rgb(46, 68, 134);;
}

#login-error{
    position: relative;
    top: 50px;
    left: 0px;
    font-size: 15px;
}

.loader{
    position: relative;
    bottom: 200px;
    left: 50%;
}