#login-wrapper{
    width: 35%;
    height: 430px;
    position: relative;
    top: 230px;
    left: 650px;
    background-color: rgb(157, 171, 216);
    border-radius: 12px;
    opacity: 0.95;
    box-shadow: 10px 12px 15px black;
    animation: anim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes anim {
    0%{
        top: -50px;
    }

    50%{
        top: 350px;
    }

    100%{
        top: 230px;
    }
}

#login-form input{
    background-color: rgb(180, 189, 218);;
    width: 320px;
    height: 35px;
    border-radius: 12px;
    border-top: wheat solid 2px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 5px 5px 15px black;
}

#login-form label{
    font-size: 25px;
}

#login-form {
    background-color: rgb(132, 152, 221);
    opacity: 0.95;
    text-align: center;
    position: relative;
    height: 300px;
    top: 45px;
    width: 60%;
    left: 115px;
    border-radius: 12px;
    padding: 20px;
}

#login-btn{
    font-size: 25px;
    background-color: transparent;
    border-radius: 12px;
    border-top: wheat solid 1px;
    width: 170px;
    height: 50px;
    cursor: pointer;
    position: relative;
    top: 20px;
    box-shadow: 3px 5px 15px black;
}

#login-btn:hover{
    background-color: rgb(157, 171, 216);;
}

#login-error{
    position: relative;
    top: 50px;
    left: 0px;
    font-size: 15px;
}

.loader{
    position: relative;
    bottom: 150px;
    left: 350px;
}