.nav {
    background-color: rgb(90, 107, 121);
    position: fixed;
    left: -1%;
    top: 0px;
    width: 101%;
    border-bottom: solid wheat 3px;
    z-index: 100;
}

.btn button{
    width: 20%;
    background-color: transparent;
    border: none;
    font-size: 200%;
    float: right;
    padding: 2.2%;
}

.btn{
    width: 45%;
    float: right;
}

a:visited {
    color: black;
}

a {
    text-decoration: none;
}

button:hover {
    background-color: rgb(128, 138, 146);
}

#login-logout:hover{
    background-color: rgb(128, 138, 146);
}

.auth-btns button{
    width: 20%;
    font-size: 200%;
    padding: 2%;
    background-color: transparent;
    border: none;
}

.auth-btns{
    width: 50%;
    display: inline-block;
}

.auth-btns button:hover{
    background-color: rgb(128, 138, 146);
}

#profili-link-pic{
    margin-top: 1%;
    margin-bottom: -2.5%;
    margin-right: 1%;
    width: 8%;
    height: 10%;
    margin-left: 3%;
    border-radius: 50%;
}