.nav {
    margin-top: -8px;
    background-color: rgb(90, 107, 121);
    position: fixed;
    left: -8px;
    top: 0px;
    height: 110px;
    width: 100%;
    padding-right: 16px;
    border-bottom: solid wheat 3px;
    z-index: 100;
    margin-bottom: 20px;
}

div .btn {
    position: relative;
    left: 1410px;
    top: -135px;
    width: 9%;
    height: 110px;
    background-color: transparent;
    border: none;
    font-size: 35px;
}

a:visited {
    color: black;
}

a {
    text-decoration: none;
}

button:hover {
    background-color: rgb(128, 138, 146);
}

#login-logout:hover{
    background-color: rgb(128, 138, 146);
}

.auth-btns button{
    width: 10%;
    height: 110px;
    font-size: 35px;
    background-color: transparent;
    border: none;
    position: relative;
    top: -25px;
}

.auth-btns button:hover{
    background-color: rgb(128, 138, 146);
}

#profili-link-pic{
    position: relative;
    top: 12px;
    width: 90px;
    height: 90px;
    margin-left: 20px;
    border-radius: 50%;
    border: 2px solid black;
}